
OS: alpine ubuntu
Versions: 8 9 10

Build: releases nightly
Type: full slim
Architectures: x86_64 ppc64le s390x
Directory: 8/jdk/ubuntu

Build: releases nightly
Type: full slim
Architectures: x86_64
Directory: 8/jdk/alpine

Build: releases nightly
Type: full slim
Architectures: x86_64 ppc64le s390x
Directory: 9/jdk/ubuntu

Build: releases nightly
Type: full slim
Architectures: x86_64
Directory: 9/jdk/alpine

Build: releases nightly
Type: full slim
Architectures: x86_64 ppc64le s390x
Directory: 10/jdk/ubuntu

Build: releases nightly
Type: full slim
Architectures: x86_64
Directory: 10/jdk/alpine
