#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# The images referred in this file are built and maintained by AdoptOpenJDK
# and pushed to the https://hub.docker.com/u/adoptopenjdk repo

OS: centos ubuntu
Versions: 8 11

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64
Directory: 8/jdk/ubuntu

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64
Directory: 11/jdk/ubuntu

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64
Directory: 8/jdk/centos

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64
Directory: 11/jdk/centos

Build: releases nightly
Type: full
Architectures: aarch64 x86_64
Directory: 8/jre/ubuntu

Build: releases nightly
Type: full
Architectures: aarch64 x86_64
Directory: 11/jre/ubuntu

Build: releases nightly
Type: full
Architectures: aarch64 x86_64
Directory: 8/jre/centos

Build: releases nightly
Type: full
Architectures: aarch64 x86_64
Directory: 11/jre/centos