#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

OS: alpine debian debianslim ubi ubi-minimal centos clefos ubuntu windowsservercore-1809 windowsservercore-ltsc2016 nanoserver-1809
Versions: 8 11 13 14

Build: releases nightly
Type: full slim
Architectures: x86_64
Directory: 8/jdk/alpine

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jdk/debian

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jdk/debianslim

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jdk/ubi

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 8/jdk/centos

Build: releases nightly
Type: full slim
Architectures: s390x
Directory: 8/jdk/clefos

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jdk/ubi-minimal

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jdk/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 8/jdk/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 8/jdk/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 8/jdk/windows/nanoserver-1809

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/alpine

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/debian

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/debianslim

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/ubi

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 8/jre/centos

Build: releases nightly
Type: full
Architectures: s390x
Directory: 8/jre/clefos

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/ubi-minimal

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 8/jre/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 8/jre/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 8/jre/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 8/jre/windows/nanoserver-1809

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jdk/alpine

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jdk/debian

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jdk/debianslim

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jdk/ubi

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 11/jdk/centos

Build: releases nightly
Type: full slim
Architectures: s390x
Directory: 11/jdk/clefos

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jdk/ubi-minimal

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jdk/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 11/jdk/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 11/jdk/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 11/jdk/windows/nanoserver-1809

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jre/alpine

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jre/debian

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jre/debianslim

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jre/ubi

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 11/jre/ubi-minimal

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 11/jre/centos

Build: releases nightly
Type: full
Architectures: s390x
Directory: 11/jre/clefos

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 11/jre/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 11/jre/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 11/jre/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 11/jre/windows/nanoserver-1809

Build: releases
Type: full slim
Architectures: x86_64
Directory: 13/jdk/alpine

Build: releases
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jdk/debian

Build: releases
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jdk/debianslim

Build: releases
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 13/jdk/ubi

Build: releases
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 13/jdk/ubi-minimal

Build: releases
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 13/jdk/centos

Build: releases
Type: full slim
Architectures: s390x
Directory: 13/jdk/clefos

Build: releases
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jdk/ubuntu

Build: releases
Type: full
Architectures: x86_64
Directory: 13/jre/alpine

Build: releases
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jre/debian

Build: releases
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jre/debianslim

Build: releases
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 13/jre/ubi

Build: releases
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 13/jre/ubi-minimal

Build: releases
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 13/jre/centos

Build: releases
Type: full
Architectures: s390x
Directory: 13/jre/clefos

Build: releases
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 13/jre/ubuntu

###############################################################################

Build: releases nightly
Type: full slim
Architectures: x86_64
Directory: 14/jdk/alpine

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jdk/debian

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jdk/debianslim

Build: releases nightly
Type: full slim
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 14/jdk/ubi

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 14/jdk/ubi-minimal

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 14/jdk/centos

Build: releases nightly
Type: full slim
Architectures: s390x
Directory: 14/jdk/clefos

Build: releases nightly
Type: full slim
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jdk/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 14/jdk/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 14/jdk/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 14/jdk/windows/nanoserver-1809

Build: releases nightly
Type: full
Architectures: x86_64
Directory: 14/jre/alpine

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jre/debian

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jre/debianslim

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 14/jre/ubi

Build: releases nightly
Type: full
Architectures: aarch64 x86_64 ppc64le s390x
Directory: 14/jre/ubi-minimal

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le
Directory: 14/jre/centos

Build: releases nightly
Type: full
Architectures: s390x
Directory: 14/jre/clefos

Build: releases nightly
Type: full
Architectures: aarch64 armv7l x86_64 ppc64le s390x
Directory: 14/jre/ubuntu

Build: nightly
Type: full
Architectures: windows-amd
Directory: 14/jre/windows/windowsservercore-1809

Build: nightly
Type: full
Architectures: windows-amd
Directory: 14/jre/windows/windowsservercore-ltsc2016

Build: nightly
Type: full
Architectures: windows-nano
Directory: 14/jre/windows/nanoserver-1809
