#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Tags config file
#
# Space separated list of tags for a given JDK with variables.
#
# The variables expand for a OS / VER combination for a given VM.
# Eg. For OpenJ9 version "jdk8u162-b12_openj9-0.8.0" for Ubuntu / full releases, the tags expand as follows
# latest jdk8u162-b12_openj9-0.8.0 x86_64-ubuntu-jdk8u162-b12_openj9-0.8.0 ppc64le-ubuntu-jdk8u162-b12_openj9-0.8.0 s390x-ubuntu-jdk8u162-b12_openj9-0.8.0
#
# For hotspot version 10.23 / alpine / nightly /slim
# alpine-nightly-slim 10.23-alpine-nightly-slim x86_64-alpine-10.23-nightly-slim

ubuntu-jdk-releases-full-tags: latest ubuntu {{ JDK_RELEASES_VER }}-ubuntu {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}
ubuntu-jdk-releases-slim-tags: slim {{ JDK_RELEASES_VER }}-ubuntu-slim {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}-slim
ubuntu-jdk-nightly-full-tags: nightly {{ JDK_NIGHTLY_VER }}-nightly {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly
ubuntu-jdk-nightly-slim-tags: nightly-slim {{ JDK_NIGHTLY_VER }}-nightly-slim {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly-slim

debian-jdk-releases-full-tags: debian {{ JDK_RELEASES_VER }}-debian {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}
debian-jdk-releases-slim-tags: debian-slim {{ JDK_RELEASES_VER }}-debian-slim {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}-slim
debian-jdk-nightly-full-tags: debian-nightly {{ JDK_NIGHTLY_VER }}-debian-nightly {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-nightly
debian-jdk-nightly-slim-tags: debian-nightly-slim {{ JDK_NIGHTLY_VER }}-debian-nightly-slim {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-nightly-slim

windows-jdk-releases-full-tags: windows {{ JDK_RELEASES_VER }}-windows {{ ARCH }}-windows-{{ JDK_RELEASES_VER }}
windows-jdk-nightly-full-tags: windows-nightly {{ JDK_NIGHTLY_VER }}-windows-nightly {{ ARCH }}-windows-{{ JDK_NIGHTLY_VER }}-nightly

alpine-jdk-releases-full-tags: alpine {{ JDK_RELEASES_VER }}-alpine {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}
alpine-jdk-releases-slim-tags: alpine-slim {{ JDK_RELEASES_VER }}-alpine-slim {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}-slim
alpine-jdk-nightly-full-tags: alpine-nightly {{ JDK_NIGHTLY_VER }}-alpine-nightly {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly
alpine-jdk-nightly-slim-tags: alpine-nightly-slim {{ JDK_NIGHTLY_VER }}-alpine-nightly-slim {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly-slim

ubuntu-jre-releases-full-tags: jre {{ JDK_RELEASES_VER }}-ubuntu-jre {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}-jre
ubuntu-jre-nightly-full-tags: jre-nightly {{ JDK_NIGHTLY_VER }}-ubuntu-jre-nightly {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-jre-nightly

debian-jre-releases-full-tags: debian-jre {{ JDK_RELEASES_VER }}-debian-jre {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}-jre
debian-jre-nightly-full-tags: debian-jre-nightly {{ JDK_NIGHTLY_VER }}-debian-jre-nightly {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-jre-nightly

windows-jre-releases-full-tags: windows {{ JDK_RELEASES_VER }}-windows-jre {{ ARCH }}-windows-{{ JDK_RELEASES_VER }}-jre
windows-jre-nightly-full-tags: windows-nightly {{ JDK_NIGHTLY_VER }}-windows-jre-nightly {{ ARCH }}-windows-{{ JDK_NIGHTLY_VER }}-jre-nightly

alpine-jre-releases-full-tags: alpine-jre {{ JDK_RELEASES_VER }}-alpine-jre {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}-jre
alpine-jre-nightly-full-tags: alpine-jre-nightly {{ JDK_NIGHTLY_VER }}-alpine-jre-nightly {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-jre-nightly
