#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Tags config file
# 
# Space separated list of tags for a given JDK with variables.
#
# The variables expand for a OS / VER combination for a given VM.
# Eg. For OpenJ9 version "jdk8u162-b12_openj9-0.8.0" for Ubuntu / full releases, the tags expand as follows
# latest jdk8u162-b12_openj9-0.8.0 x86_64-ubuntu-jdk8u162-b12_openj9-0.8.0 ppc64le-ubuntu-jdk8u162-b12_openj9-0.8.0 s390x-ubuntu-jdk8u162-b12_openj9-0.8.0
#
# For hotspot version 10.23 / alpine / nightly /slim
# alpine-nightly-slim 10.23-alpine-nightly-slim x86_64-alpine-10.23-nightly-slim

ubuntu-releases-full-tags: latest {{ JDK_RELEASES_VER }} {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}
ubuntu-releases-slim-tags: slim {{ JDK_RELEASES_VER }}-slim {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}-slim
ubuntu-nightly-full-tags: nightly {{ JDK_NIGHTLY_VER }}-nightly {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly
ubuntu-nightly-slim-tags: nightly-slim {{ JDK_NIGHTLY_VER }}-nightly-slim {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly-slim

alpine-releases-full-tags: alpine {{ JDK_RELEASES_VER }}-alpine {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}
alpine-releases-slim-tags: alpine-slim {{ JDK_RELEASES_VER }}-alpine-slim {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}-slim
alpine-nightly-full-tags: alpine-nightly {{ JDK_NIGHTLY_VER }}-alpine-nightly {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly
alpine-nightly-slim-tags: alpine-nightly-slim {{ JDK_NIGHTLY_VER }}-alpine-nightly-slim {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly-slim
