#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Tags config file
#
# Space separated list of tags for a given JDK with variables.
#
# The variables expand for a OS / VER combination for a given VM.
# Eg. For OpenJ9 version "jdk8u162-b12_openj9-0.8.0" for Ubuntu / full releases, the tags expand as follows
# latest jdk8u162-b12_openj9-0.8.0 x86_64-ubuntu-jdk8u162-b12_openj9-0.8.0 ppc64le-ubuntu-jdk8u162-b12_openj9-0.8.0 s390x-ubuntu-jdk8u162-b12_openj9-0.8.0
#
# For hotspot version 10.23 / alpine / nightly /slim
# alpine-nightly-slim 10.23-alpine-nightly-slim x86_64-alpine-10.23-nightly-slim

alpine-jdk-releases-full-tags: alpine {{ JDK_RELEASES_VER }}-alpine {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}
alpine-jdk-releases-slim-tags: alpine-slim {{ JDK_RELEASES_VER }}-alpine-slim {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}-slim
alpine-jdk-nightly-full-tags: alpine-nightly {{ JDK_NIGHTLY_VER }}-alpine-nightly {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly
alpine-jdk-nightly-slim-tags: alpine-nightly-slim {{ JDK_NIGHTLY_VER }}-alpine-nightly-slim {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly-slim

debian-jdk-releases-full-tags: debian {{ JDK_RELEASES_VER }}-debian {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}
debian-jdk-releases-slim-tags: debian-slim {{ JDK_RELEASES_VER }}-debian-slim {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}-slim
debian-jdk-nightly-full-tags: debian-nightly {{ JDK_NIGHTLY_VER }}-debian-nightly {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-nightly
debian-jdk-nightly-slim-tags: debian-nightly-slim {{ JDK_NIGHTLY_VER }}-debian-nightly-slim {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-nightly-slim

ubi-jdk-releases-full-tags: ubi {{ JDK_RELEASES_VER }}-ubi {{ ARCH }}-ubi-{{ JDK_RELEASES_VER }}
ubi-jdk-releases-slim-tags: ubi-slim {{ JDK_RELEASES_VER }}-ubi-slim {{ ARCH }}-ubi-{{ JDK_RELEASES_VER }}-slim
ubi-jdk-nightly-full-tags: ubi-nightly {{ JDK_NIGHTLY_VER }}-ubi-nightly {{ ARCH }}-ubi-{{ JDK_NIGHTLY_VER }}-nightly
ubi-jdk-nightly-slim-tags: ubi-nightly-slim {{ JDK_NIGHTLY_VER }}-ubi-nightly-slim {{ ARCH }}-ubi-{{ JDK_NIGHTLY_VER }}-nightly-slim

ubi-minimal-jdk-releases-full-tags: ubi-minimal {{ JDK_RELEASES_VER }}-ubi-minimal {{ ARCH }}-ubi-minimal-{{ JDK_RELEASES_VER }}
ubi-minimal-jdk-releases-slim-tags: ubi-minimal-slim {{ JDK_RELEASES_VER }}-ubi-minimal-slim {{ ARCH }}-ubi-minimal-{{ JDK_RELEASES_VER }}-slim
ubi-minimal-jdk-nightly-full-tags: ubi-minimal-nightly {{ JDK_NIGHTLY_VER }}-ubi-minimal-nightly {{ ARCH }}-ubi-minimal-{{ JDK_NIGHTLY_VER }}-nightly
ubi-minimal-jdk-nightly-slim-tags: ubi-minimal-nightly-slim {{ JDK_NIGHTLY_VER }}-ubi-minimal-nightly-slim {{ ARCH }}-ubi-minimal-{{ JDK_NIGHTLY_VER }}-nightly-slim

centos-jdk-releases-full-tags: centos {{ JDK_RELEASES_VER }}-centos {{ ARCH }}-centos-{{ JDK_RELEASES_VER }}
centos-jdk-releases-slim-tags: centos-slim {{ JDK_RELEASES_VER }}-centos-slim {{ ARCH }}-centos-{{ JDK_RELEASES_VER }}-slim
centos-jdk-nightly-full-tags: centos-nightly {{ JDK_NIGHTLY_VER }}-centos-nightly {{ ARCH }}-centos-{{ JDK_NIGHTLY_VER }}-nightly
centos-jdk-nightly-slim-tags: centos-nightly-slim {{ JDK_NIGHTLY_VER }}-centos-nightly-slim {{ ARCH }}-centos-{{ JDK_NIGHTLY_VER }}-nightly-slim

cleofs-jdk-releases-full-tags: cleofs {{ JDK_RELEASES_VER }}-cleofs {{ ARCH }}-cleofs-{{ JDK_RELEASES_VER }}
cleofs-jdk-releases-slim-tags: cleofs-slim {{ JDK_RELEASES_VER }}-cleofs-slim {{ ARCH }}-cleofs-{{ JDK_RELEASES_VER }}-slim
cleofs-jdk-nightly-full-tags: cleofs-nightly {{ JDK_NIGHTLY_VER }}-cleofs-nightly {{ ARCH }}-cleofs-{{ JDK_NIGHTLY_VER }}-nightly
cleofs-jdk-nightly-slim-tags: cleofs-nightly-slim {{ JDK_NIGHTLY_VER }}-cleofs-nightly-slim {{ ARCH }}-cleofs-{{ JDK_NIGHTLY_VER }}-nightly-slim

ubuntu-jdk-releases-full-tags: latest ubuntu {{ JDK_RELEASES_VER }} {{ JDK_RELEASES_VER }}-ubuntu {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}
ubuntu-jdk-releases-slim-tags: slim ubuntu-slim {{ JDK_RELEASES_VER }}-slim {{ JDK_RELEASES_VER }}-ubuntu-slim {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}-slim
ubuntu-jdk-nightly-full-tags: nightly {{ JDK_NIGHTLY_VER }}-nightly ubuntu-nightly {{ JDK_NIGHTLY_VER }}-ubuntu-nightly {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly
ubuntu-jdk-nightly-slim-tags: nightly-slim {{ JDK_NIGHTLY_VER }}-nightly-slim ubuntu-nightly-slim {{ JDK_NIGHTLY_VER }}-ubuntu-nightly-slim {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly-slim

windows-jdk-releases-full-tags: windows {{ JDK_RELEASES_VER }}-windows {{ ARCH }}-windows-{{ JDK_RELEASES_VER }}
windows-jdk-nightly-full-tags: windows-nightly {{ JDK_NIGHTLY_VER }}-windows-nightly {{ ARCH }}-windows-{{ JDK_NIGHTLY_VER }}-nightly

alpine-jre-releases-full-tags: alpine-jre {{ JDK_RELEASES_VER }}-alpine {{ ARCH }}-alpine-{{ JDK_RELEASES_VER }}
alpine-jre-nightly-full-tags: alpine-jre-nightly {{ JDK_NIGHTLY_VER }}-alpine-nightly {{ ARCH }}-alpine-{{ JDK_NIGHTLY_VER }}-nightly

debian-jre-releases-full-tags: debian-jre {{ JDK_RELEASES_VER }}-debian {{ ARCH }}-debian-{{ JDK_RELEASES_VER }}
debian-jre-nightly-full-tags: debian-jre-nightly {{ JDK_NIGHTLY_VER }}-debian-nightly {{ ARCH }}-debian-{{ JDK_NIGHTLY_VER }}-nightly

ubi-jre-releases-full-tags: ubi-jre {{ JDK_RELEASES_VER }}-ubi {{ ARCH }}-ubi-{{ JDK_RELEASES_VER }}
ubi-jre-nightly-full-tags: ubi-jre-nightly {{ JDK_NIGHTLY_VER }}-ubi-nightly {{ ARCH }}-ubi-{{ JDK_NIGHTLY_VER }}-nightly

ubi-minimal-jre-releases-full-tags: ubi-minimal-jre {{ JDK_RELEASES_VER }}-ubi-minimal {{ ARCH }}-ubi-minimal-{{ JDK_RELEASES_VER }}
ubi-minimal-jre-nightly-full-tags: ubi-minimal-jre-nightly {{ JDK_NIGHTLY_VER }}-ubi-minimal-nightly {{ ARCH }}-ubi-minimal-{{ JDK_NIGHTLY_VER }}-nightly

centos-jre-releases-full-tags: centos-jre {{ JDK_RELEASES_VER }}-centos {{ ARCH }}-centos-{{ JDK_RELEASES_VER }}
centos-jre-nightly-full-tags: centos-jre-nightly {{ JDK_NIGHTLY_VER }}-centos-nightly {{ ARCH }}-centos-{{ JDK_NIGHTLY_VER }}-nightly

clefos-jre-releases-full-tags: clefos-jre {{ JDK_RELEASES_VER }}-clefos {{ ARCH }}-clefos-{{ JDK_RELEASES_VER }}
clefos-jre-nightly-full-tags: clefos-jre-nightly {{ JDK_NIGHTLY_VER }}-clefos-nightly {{ ARCH }}-clefos-{{ JDK_NIGHTLY_VER }}-nightly

ubuntu-jre-releases-full-tags: jre ubuntu-jre {{ JDK_RELEASES_VER }} {{ JDK_RELEASES_VER }}-ubuntu {{ ARCH }}-ubuntu-{{ JDK_RELEASES_VER }}
ubuntu-jre-nightly-full-tags: jre-nightly ubuntu-jre-nightly {{ JDK_NIGHTLY_VER }}-nightly {{ JDK_NIGHTLY_VER }}-ubuntu-nightly {{ ARCH }}-ubuntu-{{ JDK_NIGHTLY_VER }}-nightly

windows-jre-releases-full-tags: windows-jre {{ JDK_RELEASES_VER }}-windows {{ ARCH }}-windows-{{ JDK_RELEASES_VER }}
windows-jre-nightly-full-tags: windows-jre-nightly {{ JDK_NIGHTLY_VER }}-windows-nightly {{ ARCH }}-windows-{{ JDK_NIGHTLY_VER }}-nightly
